/* ========== COMPONENTS ========== */

@media screen and (max-width: 427px) {
  .main-title {
    width: 100%;
  }

  .about-list-item {
    width: 100%;
  }

  .customers-list-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }

  .modal-window {
    width: 100%;
  }

  .mobile-menu-soc-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }

  .mobile-menu-contact-list-tel {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

/* ========== /COMPONENTS ========== */

/* ========== IMAGES ========== */
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-image/hero-bg-mobile@2x.jpg);
  }
}

/* ========== /IMAGES ========== */

/* ========== TABLET STYLES ========== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-container {
    height: 72px;
  }

  .header-nav {
    display: flex;
    gap: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }

  .nav-list-item:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

    position: absolute;
    left: 0;
    bottom: -29px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .contact-list {
    display: block;
  }

  .contact-list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .contact-list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
  }

  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-image/hero-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2) and (max-width: 1157px),
    (min-resolution: 192dpi) and (max-width: 1157px),
    (min-resolution: 2dppx) and (max-width: 1157px) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-image/hero-bg-tablet@2x.jpg);
    }
  }

  .hero-container {
    padding: 112px 0;
  }

  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 496px;

    margin-bottom: 36px;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .about-list-item {
    margin-bottom: 0;
    width: 356px;
  }

  .about-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
    text-align: start;
  }

  .team-container {
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-list-item {
    margin: 0;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .customers-list-item {
    width: 168px;
    height: 88px;
  }

  .customers-icons {
    width: 104px;
    height: 56px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-container-secondary {
    margin: 0;
  }

  .logo-link-footer {
    text-align: start;
  }

  .footer-container-secondary {
    width: 264px;
  }

  .footer-text {
    text-align: start;
    margin-bottom: 0;
  }

  .footer-soc-media {
    margin: 0;
  }

  .footer-soc-text {
    text-align: start;
  }

  .footer-soc-list {
    margin-bottom: 0;
  }

  .footer-form-text {
    text-align: start;
  }

  .footer-form-field {
    display: flex;
  }
  .footer-form-input {
    margin-right: 24px;
    margin-bottom: 0;
    width: 264px;
  }

  .portfolio-container {
    padding-bottom: 96px;
    padding-top: 64px;
  }

  .btn-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 64px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    margin: 0;
    margin-bottom: 0;
    max-width: 356px;
  }

  .modal-window {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* @media screen and (min-width: 870px) and (max-width: 1157px) {
  .team-section {
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
} */

/* ========== /TABLET STYLES ========== */

/* ========== DESKTOP STYLES ========== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-nav {
    gap: 76px;
  }

  .nav-list-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item:hover,
  .nav-list-item:focus {
    color: #404bbf;
  }

  .contact-list {
    display: flex;
    gap: 40px;
  }

  .contact-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .contact {
    font-style: normal;
    margin-left: auto;
  }

  .contact-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }

  .hero-section {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-image/hero-bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px),
    (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-image/hero-bg-desktop@2x.jpg);
    }
  }

  .hero-container {
    width: 100%;
    margin: 0 auto;
    padding: 188px 0;
  }

  .main-title {
    margin-bottom: 48px;
  }

  .section-about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .about-list-item {
    width: 264px;
  }

  .about-icon-container {
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f4fd;
  }

  .about-icons {
    width: 64px;
    height: 64px;
  }

  .about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
    text-align: start;
  }
  .about-list-text {
    font-size: 16px;
    font-weight: 400;

    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .gallery-section {
    display: block;
    padding-bottom: 120px;
  }

  .second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
  }
  .gallery-list {
    display: flex;
    gap: 24px;
  }

  .gallery-picture {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers {
    padding: 120px 0;
    flex-wrap: nowrap;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    gap: 0;
  }

  .footer-container-secondary {
    width: 264px;
    margin-right: 120px;
  }

  .footer-soc-media {
    margin-right: 80px;
  }

  .portfolio-container {
    padding-bottom: 100px;
    padding-top: 120px;
  }

  .btn-list {
    margin-bottom: 72px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px 24px;
  }

  .overlay-wrap {
    position: relative;
    overflow: hidden;
  }

  .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--logo-color);
    transform: translateY(100%);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-link:hover .overlay-text,
  .portfolio-list-link:focus .overlay-text {
    transform: translateY(0%);
  }
}

/* ========== DESKTOP STYLES ========== */
