/* ========== COMPONENTS ========== */

:root {
  --main-family: "Roboto", sans-serif;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --main-background-color: #ffffff;
  --logo-color: #4d5ae5;
}

body {
  font-family: var(--main-family);
  color: var(--secondary-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== /COMPONENTS ========== */

/* ========== MAIN PAGE ========== */
/* ========== HEADER ========== */

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
}

.nav-list {
  display: none;
}

.contact-list {
  display: none;
}

.mobile-menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* .header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;

  position: absolute;
  left: 0;
  bottom: -29px;
}

.contact {
  font-style: normal;
  margin-left: auto;
}

.contact-list-item {
}
.contact-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
} */

/* ========== MOBILE MENU ========== */
.mobile-menu {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcfcfc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu-close-btn {
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-contact-list {
  margin-bottom: 48px;
}

.mobile-menu-contact-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contact-list-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.mobile-menu-contact-list-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-soc-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 56px;
}

.mobile-menu-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-links:hover,
.team-soc-links:focus {
  background-color: #404bbf;
}

.mobile-menu-soc-icon {
  fill: var(--main-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

/* ========== /MOBILE MENU ========== */

/* ========== /HEADER ========== */

/* ========== HERO SECTION ========== */

.hero-section {
  background-color: var(--main-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  width: 100%;
  margin: 0 auto;
  padding: 112px 15px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 320px;

  margin: 0 auto;
  margin-bottom: 72px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* .hero-section {
  background-color: var(--main-color);
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 600px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--logo-color);

  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
} */

/* ========== /HERO SECTION ========== */

/* ========== SECTION ABOUT ========== */

.section-about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-icon-container {
  display: none;
}

.about-list-item {
  margin: 0 auto;
  margin-bottom: 72px;
  width: 396px;
}

.about-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
  text-align: center;
}
.about-list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* .section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-list-item {
  width: 264px;
}

.about-icon-container {
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f4fd;
  border-radius: 4px;
}

.about-icons {
  width: 64px;
  height: 64px;
}

.about-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.about-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */
/* ========== /SECTION ABOUT ========== */

/* ========== SECTION GALLERY ========== */
.gallery-section {
  display: none;
}
/* ========== /SECTION GALLERY ========== */

/* ========== SECTION TEAM ========== */

.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.team-list-item {
  margin: 0 auto;
  margin-bottom: 72px;
  width: 264px;

  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-container {
  padding: 32px 0;
}

.teammate {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.teammate-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-links:hover,
.team-soc-links:focus {
  background-color: #404bbf;
}

.soc-icons {
  fill: var(--main-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
.team-list {
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-container {
  padding: 32px 0;
}

.team-list-img {
}
.teammate {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.teammate-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-links:hover,
.team-soc-links:focus {
  background-color: #404bbf;
}

.soc-icons {
  fill: var(--main-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ========== /SECTION TEAM ========== */

/* ========== CUSTOMERS SECTION ========== */
.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--main-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-list-item {
  width: 190px;
  height: 88px;
}

.customers-icons {
  fill: currentColor;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: #404bbf;
}

/* .customers {
  padding: 120px 0;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--main-color);
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
}

.customers-icons {
  fill: currentColor;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: #404bbf;
} */

/* ========== /CUSTOMERS SECTION ========== */

/* ========== FOOTER ========== */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container-secondary {
  margin: 0 auto;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  display: block;
  width: 268px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.web-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-soc-media {
  margin: 0 auto;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-links:hover,
.footer-soc-links:focus {
  background-color: #31d0aa;
}

.footer-soc-icons {
  fill: var(--main-background-color);
}

.footer-form {
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;

  margin-bottom: 16px;
}

.footer-form-input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #f4f4fd;
  outline: none;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn {
  background-color: #4d5ae5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 16px;

  color: #ffffff;
}

.footer-form-icon {
  display: block;
  fill: #ffffff;
}

/* .footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.footer-container-secondary {
  width: 264px;
  margin-right: 120px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.web-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--logo-color);
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-links:hover,
.footer-soc-links:focus {
  background-color: #31d0aa;
}

.footer-soc-icons {
  fill: var(--main-background-color);
}

.footer-form {
  margin-left: 80px;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer-form-field {
  display: flex;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #f4f4fd;
  outline: none;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn {
  background-color: #4d5ae5;
  border-radius: 4px;
  margin-left: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 16px;

  color: #ffffff;
}

.footer-form-icon {
  display: block;
  fill: #ffffff;
} */
/* ========== /FOOTER ========== */
/* ========== /MAIN PAGE ========== */

/* ========== PORTFOLIO PAGE ========== */
/* ========== PORTFOLIO FILTER OF BUTTONS ========== */
.portfolio-container {
  padding-bottom: 48px;
  padding-top: 48px;
}

.btn-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.btn-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;

  cursor: pointer;
  padding: 12px 24px;

  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-list-item {
}

.btn-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;

  cursor: pointer;
  padding: 12px 24px;

  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* ========== FILTER OF BUTTONS ========== */

/* ========== PORTFOLIO ROWS ========== */
.portfolio-list {
}

.portfolio-list-item {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 396px;

  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-descr {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-list-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: none;
}

.portfolio-list-link:hover .overlay-text,
.portfolio-list-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.portfolio-cards-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card-descr {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-list-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--logo-color);
  transform: translateY(100%);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover .overlay-text,
.portfolio-list-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.portfolio-cards-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
} */
/* ========== /PORTFOLIO ROWS ========== */

/* ========== MODAL WINDOW ========== */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(46, 47, 66, 0.4);

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  width: 392px;
  padding: 72px 16px 24px 16px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
  width: 0;
}

.modal-close-btn {
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/* ========== MODAL WINDOW FORM ========== */
.modal-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-wrap {
  display: block;
  position: relative;
}

.modal-form-input-name {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 14px;

  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-field {
  margin-bottom: 16px;
}

.modal-form-message:focus {
  border-color: #4d5ae5;
}
.modal-form-check {
}

.modal-form-check-descr::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  outline: none;
}

.modal-form-check:checked + .modal-form-check-descr::before {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  background-image: url(../images/svg-sprite/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check-descr {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-self: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
/* ========== /MODAL WINDOW FORM ========== */

/* ========== /MODAL WINDOW ========== */
